@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Josefin+Sans&family=Rowdies:wght@300;700&family=Signika+Negative:wght@500&family=Ubuntu:wght@300&display=swap');
.food {
  width: 25rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
  box-shadow: 0rem 0.2rem 0.5rem 0.2rem #aaa;
  background-color:rgb(255, 255, 255);
  color: black;  
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
}
.image {
  width: 100%;
  height: 50vh;
}

.myStyle {
  border: none;
  background: #157013;
  padding: 12px 20px;
}
.linkStyle {
  color: rgb(211, 228, 53);
  text-decoration: none;
  
}
.linkStyle:hover {
  text-decoration: none;
  color: rgb(216, 223, 22);
}
